In [1]:
import numpy as np
import pandas as pd

In [14]:
#niveis de indice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2G2']

In [8]:
inside

[1, 2, 3, 1, 2, 3]

In [9]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2G2', 2)]

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [18]:
df = pd.DataFrame(np.random.randn(6, 2), index = hier_index, columns=['A', 'B'])

In [19]:
df

             A         B
G1 1  0.013644 -2.340758
   2  0.816258 -0.535303
   3 -0.154864  1.318238
G2 1  1.431939  0.297957
   2  1.538932 -0.162472
   3 -0.047085  1.577196

In [21]:
df.index.names = ['Grupo', 'Numero']

In [22]:
df

                     A         B
Grupo Numero
G1    1       0.013644 -2.340758
      2       0.816258 -0.535303
      3      -0.154864  1.318238
G2    1       1.431939  0.297957
      2       1.538932 -0.162472
      3      -0.047085  1.577196

In [24]:
df.loc['G1'].loc[1] #obtendo uma series no indice 1

A    0.013644
B   -2.340758
Name: 1, dtype: float64

In [25]:
df.index.names

FrozenList(['Grupo', 'Numero'])

In [26]:
df

                     A         B
Grupo Numero
G1    1       0.013644 -2.340758
      2       0.816258 -0.535303
      3      -0.154864  1.318238
G2    1       1.431939  0.297957
      2       1.538932 -0.162472
      3      -0.047085  1.577196

In [27]:
df.xs('G1') #definindo as selecoes relevantes

               A         B
Numero
1       0.013644 -2.340758
2       0.816258 -0.535303
3      -0.154864  1.318238

In [28]:
df.xs(1, level = 'Numero') #definindo numeros do indice

              A         B
Grupo
G1     0.013644 -2.340758
G2     1.431939  0.297957