In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('exemplo', sep=',')  #LENDO DADOS SIMPLES

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [5]:
df = df + 1

In [12]:
df.to_csv("exemplo.csv", sep=';', decimal=',') #LENDO DADOS EM csv

In [58]:
df = pd.read_excel('Exemplo_Excel.xlsx')     #LENDO DADOS DO EXCEL EM xlsx

In [59]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [60]:
df.to_excel('exemplo.xlsx', sheet_name='Sheet1')

In [61]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [32]:
df = pd.read_html('http://espn.go.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2')  
#LENDO DADOS DE SITES EM HTML

In [33]:
type(df) #EXIBINDO O TIPO

list

In [47]:
len(df)  #QUANTIDADE DE DATAFRAMES

1

In [42]:
df[0]  #EXBINDO TABELA EM DATAFRAME

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PP,PP,SH,SH
1,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G,A,G,A
2,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
3,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
4,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
5,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
6,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0
7,6,"Nicklas Backstrom, C",WSH,82,18,60,78,5,40,0.95,153,11.8,3,3,30,0,0
8,7,"Tyler Seguin, C",DAL,71,37,40,77,-1,20,1.08,280,13.2,5,13,16,0,0
9,8,"Jiri Hudler, RW",CGY,78,31,45,76,17,14,0.97,158,19.6,5,6,10,0,0
10,NaN,"Daniel Sedin, LW",VAN,82,20,56,76,5,18,0.93,226,8.9,5,4,21,0,0
11,10,"Vladimir Tarasenko, RW",STL,77,37,36,73,27,31,0.95,264,14.0,6,8,10,0,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PP,PP,SH,SH
13,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G,A,G,A
14,NaN,"Nick Foligno, LW",CBJ,79,31,42,73,16,50,0.92,182,17.0,3,11,15,0,0
15,NaN,"Claude Giroux, C",PHI,81,25,48,73,-3,36,0.90,279,9.0,4,14,23,0,0
16,NaN,"Henrik Sedin, C",VAN,82,18,55,73,11,22,0.89,101,17.8,0,5,20,0,0
17,14,"Steven Stamkos, C",TB,82,43,29,72,2,49,0.88,268,16.0,6,13,12,0,0
18,NaN,"Tyler Johnson, C",TB,77,29,43,72,33,24,0.94,203,14.3,6,8,9,0,0
19,16,"Ryan Johansen, C",CBJ,82,26,45,71,-6,40,0.87,202,12.9,0,7,19,2,0
20,17,"Joe Pavelski, C",SJ,82,37,33,70,12,29,0.85,261,14.2,5,19,12,0,0
21,NaN,"Evgeni Malkin, C",PIT,69,28,42,70,-2,60,1.01,212,13.2,4,9,17,0,0
22,NaN,"Ryan Getzlaf, C",ANA,77,25,45,70,15,62,0.91,191,13.1,6,3,10,0,2
23,20,"Rick Nash, LW",NYR,79,42,27,69,29,36,0.87,304,13.8,8,6,6,4,1
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PP,PP,SH,SH
25,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G,A,G,A
26,21,"Max Pacioretty, LW",MTL,80,37,30,67,38,32,0.84,302,12.3,10,7,4,3,2
27,NaN,"Logan Couture, C",SJ,82,27,40,67,-6,12,0.82,263,10.3,4,6,18,2,0
28,23,"Jonathan Toews, C",CHI,81,28,38,66,30,36,0.81,192,14.6,7,6,11,2,1
29,NaN,"Erik Karlsson, D",OTT,82,21,45,66,7,42,0.80,292,7.2,3,6,24,0,0
30,NaN,"Henrik Zetterberg, C",DET,77,17,49,66,-6,32,0.86,227,7.5,3,4,24,0,0
31,26,"Pavel Datsyuk, C",DET,63,26,39,65,12,8,1.03,165,15.8,5,8,16,0,0
32,NaN,"Joe Thornton, C",SJ,78,16,49,65,-4,30,0.83,131,12.2,0,4,18,0,0
33,28,"Nikita Kucherov, RW",TB,82,28,36,64,38,37,0.78,190,14.7,2,2,13,0,0
34,NaN,"Patrick Kane, RW",CHI,61,27,37,64,10,10,1.05,186,14.5,5,6,16,0,0
35,NaN,"Mark Stone, RW",OTT,80,26,38,64,21,14,0.80,157,16.6,6,5,8,1,0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PP,PP,SH,SH
37,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G,A,G,A
38,NaN,"Alex Steen, LW",STL,74,24,40,64,8,33,0.86,223,10.8,5,8,16,0,0
39,NaN,"Kyle Turris, C",OTT,82,24,40,64,5,36,0.78,215,11.2,6,4,12,1,0
40,NaN,"Johnny Gaudreau, LW",CGY,80,24,40,64,11,14,0.80,167,14.4,4,8,13,0,0
41,NaN,"Anze Kopitar, C",LA,79,16,48,64,-2,10,0.81,134,11.9,4,6,18,0,0
42,35,"Radim Vrbata, RW",VAN,79,31,32,63,6,20,0.80,267,11.6,7,12,11,0,0
43,NaN,"Jaden Schwartz, LW",STL,75,28,35,63,13,16,0.84,184,15.2,4,8,8,0,2
44,NaN,"Filip Forsberg, LW",NSH,82,26,37,63,15,24,0.77,237,11.0,6,6,13,0,0
45,NaN,"Jordan Eberle, RW",EDM,81,24,39,63,-16,24,0.78,183,13.1,2,6,15,0,0
46,NaN,"Ondrej Palat, LW",TB,75,16,47,63,31,24,0.84,139,11.5,5,3,8,1,1
47,40,"Zach Parise, LW",MIN,74,33,29,62,21,41,0.84,259,12.7,3,11,5,0,0